<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nitish.build.com.freemium">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:replace="android:usesCleartextTraffic,android:allowBackup">

        <provider
            android:name="nitish.build.com.freemium.GenericFileProvider"
            android:authorities="nitish.build.com.freemium.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name="nitish.build.com.freemium.Settings_Alb" />
        <activity android:name="nitish.build.com.freemium.MorePage" />
        <activity android:name="nitish.build.com.freemium.Downloads_Page" />
        <activity
            android:name="nitish.build.com.freemium.Search_Songs"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="nitish.build.com.freemium.SaavnWebView"
            android:screenOrientation="portrait" />
        <activity
            android:name="nitish.build.com.freemium.Album_Song_List"
            android:screenOrientation="portrait" />
        <activity android:name="nitish.build.com.freemium.checksum" />
        <activity
            android:name="nitish.build.com.freemium.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/ad_id" />

        <receiver android:name="nitish.build.com.freemium.NotificationRecive" />
    </application>

</manifest>